# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


# env
.env



# SQLite database file
src/agendify.db

# Alembic migration cache
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Poetry
.poetry/
poetry.lock

# IDE/editor config files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# MacOS
.DS_Store
